
#root{
    background: url("./assests/images/weatherbg.jpg");
    width: 100%;
    height: 100%;
    position: absolute;
    display:block;
    justify-content: center;
    align-items: center;
    background-position:top;
    background-size: cover;

}
.title{
    text-align: center;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bold;
    text-decoration:underline;
    padding:25px 0 25px 0;
}